<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!--
            对单个别名定义
            type：类型的路径
            alias：别名名称
        -->
        <typeAlias type="_2mapperProxy.Student" alias="student"/>
        <!--
            批量别名定义
            mybatis 会自动扫描指定包下的 po 类，自定义别名，别名为类名（首字母大/小写）
        -->
        <!--<package name="_2mapperProxy"/>-->
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis?characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="_1fastDemo/studentMapper.xml"/>
        <mapper resource="_2mapperProxy/studentMapper.xml"/>
        <mapper resource="_3resultMap/studentMapper.xml"/>
        <mapper resource="_4dynamicSql/studentMapper.xml"/>
        <mapper resource="_5oneToOneMapperReturnType/OrderCustomMapper.xml"/>
        <mapper resource="_6oneToOneMapperReturnMap/OrderMapper.xml"/>
    </mappers>
</configuration>