<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="_5oneToOneMapperReturnType.mapper.OrderCustomMapper">
  <select id="findOrdersUser" resultType="_5oneToOneMapperReturnType.po.OrderCustom" >
      SELECT t_order.id,t_order.number,t_user.name from t_order,t_user WHERE t_user.id = t_order.user_id
  </select>

</mapper>